<title><%= title %></title>
<meta charset="utf-8">
<link rel="shortcut icon" href="//cdn.sstatic.net/stackoverflow/img/favicon.ico?v=4f32ecc8f43d">
<link rel="apple-touch-icon image_src" href="//cdn.sstatic.net/stackoverflow/img/apple-touch-icon.png?v=c78bd457575a">
<link rel="search" type="application/opensearchdescription+xml" title="Stack Overflow" href="/opensearch.xml">
<meta name="twitter:card" content="summary">
<meta name="twitter:domain" content="stackoverflow.com">
<meta property="og:type" content="website">    
<meta property="og:image" itemprop="image primaryImageOfPage" content="http://cdn.sstatic.net/stackoverflow/img/apple-touch-icon@2.png?v=73d79a89bded&amp;a">
<meta name="twitter:title" property="og:title" itemprop="title name" content="Node.js - EJS - including a partial">
<meta name="twitter:description" property="og:description" itemprop="description" content="I am trying to use Embedded Javascript renderer for node: https://github.com/visionmedia/ejs">
<meta property="og:url" content="http://stackoverflow.com/questions/5404830/node-js-ejs-including-a-partial">
<link rel="canonical" href="http://stackoverflow.com/questions/5404830/node-js-ejs-including-a-partial">
<link rel="alternate" type="application/atom+xml" title="Feed for question 'Node.js - EJS - including a partial'" href="/feeds/question/5404830">
<meta name="twitter:app:country" content="US">
<meta name="twitter:app:name:iphone" content="Stack Exchange iOS">
<meta name="twitter:app:id:iphone" content="871299723">
<meta name="twitter:app:url:iphone" content="se-zaphod://stackoverflow.com/questions/5404830/node-js-ejs-including-a-partial">
<meta name="twitter:app:name:ipad" content="Stack Exchange iOS">
<meta name="twitter:app:id:ipad" content="871299723">
<meta name="twitter:app:url:ipad" content="se-zaphod://stackoverflow.com/questions/5404830/node-js-ejs-including-a-partial">
<meta name="twitter:app:name:googleplay" content="Stack Exchange Android">
<meta name="twitter:app:url:googleplay" content="http://stackoverflow.com/questions/5404830/node-js-ejs-including-a-partial">
<meta name="twitter:app:id:googleplay" content="com.stackexchange.marvin">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css">
<link rel="stylesheet" href="/app.css">
<link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">